.SideElements {
  width: 100%;
  /* position: fixed; */
}
.SideElements__left {
  position: fixed;

  font-size: 1rem;
  left: -8%;
  top: 50%;
  transform: rotate(270deg);
  /* animation: locationRun 4s infinite; */

  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  height: 2rem;
  max-width: 50vh;
  white-space: nowrap;
}
.SideElements__right {
  width: 150px;
  position: fixed;
  transform: rotate(270deg);
  top: 50%;
  right: -60px;
  display: flex;
  color: #040507;
  background-color: white;
  padding-bottom: 20px;
  align-items: center;
  font-size: 0.8rem;

  z-index: 4;
}
.SideElements__right__title {
  transform: rotate(90deg);
  margin-left: 2%;
  font-size: 1rem;

  padding-top: 20px;
  padding-left: 4%;
}
.SideElements__right__p {
  padding-left: 10px;
  padding-right: 20px;
  width: 100%;
  font-weight: 600;
}
.SideElements__vibe {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  bottom: 5px;
  position: fixed;
  left: 3px;
}
.SideElements__vibe:hover::after {
  content: "PICK YOUR VIBE";
  position: absolute;
  top: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  left: 50%;
  width: max-content;
  transform: translateX(+50%);
  transform: translateY(-300%);
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}
.SideElements__vibe::before {
  content: "";
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: white;
  display: block;

  margin-left: 40%;
  margin-top: 40%;
}

/* .circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
.SideElements__p {
  position: fixed;
  font-size: 0.9rem;
  bottom: 5px;
  right: 3px;
}
@media all and (max-width: 1024px) {
  .SideElements__left {
    display: none;
  }
  .SideElements__p {
    display: none;
  }
  .SideElements__vibe {
    display: none;
  }
}

/*  */

.page-details__location-text:first-child {
  /* -webkit-animation: locationRun 30s linear -7.5s infinite; */
  animation: locationRun 20s linear 1s infinite;
  text-transform: uppercase;
}

@keyframes locationIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 6rem, 0) rotate(-90deg);
    transform: translate3d(0, 6rem, 0) rotate(-90deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate(-90deg);
    transform: translate3d(0, 0, 0) rotate(-90deg);
  }
}

@keyframes locationRun {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
