.Header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin-top: 15px;
  width: 94%;
  z-index: 3;
  padding-left: 3%;
}
/* Левая часть */
.header__left {
  width: 50%;
}
.Header__left__list {
  margin-bottom: 0.8rem;
}
.Header__left__list__item {
  list-style-type: none;
  font-size: 1.3rem;
  cursor: default;
  font-weight: 620;
}
#Header__left__list__item__second {
  font-size: 1rem;
}
.Header__left__group {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: end;
}
.Header__left__group__img {
  width: 3rem;
  height: 3rem;
}
.Header__left__group__p {
  cursor: default;
  line-height: 1;
}
.Header__menu {
  width: 14em;
  position: fixed;
  right: 41%;
  visibility: hidden;
  height: 120px;
}
/* Правая часть */
.Header__right {
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-size: 0.9rem;
  align-items: flex-start;
}
.Header__right__list {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.Header__right__list__item {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
}
.Header__right__link {
  font-weight: 600;
  width: 35%;
  position: relative;
  z-index: 2;
  top: 4px;
}
.Header__right__link__svg {
  z-index: 0;
  position: absolute;
  left: -30px;
  top: -37px;
}
.Header__logo {
  width: 5rem;
  height: 3rem;
  position: fixed;
  right: 44.5%;
  z-index: 4;
  /* transform: translate(0px, 1300%); */
}

@media all and (max-width: 1174px) {
  .Header__right {
    font-size: 0.8rem;
    width: 40%;
  }
}

@media all and (max-width: 1024px) {
  .Header {
    padding-left: 0;
  }

  .Header__right {
    display: none;
  }
  .Header__left {
    display: none;
  }
  .Header__menu {
    visibility: visible;
    top: -20px;
    right: 43%;
  }
  .Header__logo {
    top: 80px;
    right: 46%;
  }
}
@media all and (max-width: 768px) {
  .Header__menu {
    left: 0;
  }
  .Header__logo {
    top: 5%;
    right: 5%;
  }
}

@media all and (max-width: 500px) {
  .Header__menu {
    left: 0;
  }
  .Header__logo {
    top: 5%;
    right: 5%;
  }
}
