.Footer {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 3%;
}
.Footer____img {
  width: calc(70rem / 16 + 130 * ((100vw - 390px) / 1050));
  height: 100%;
  font-size: calc(70rem / 16 + 130 * ((100vw - 390px) / 1050));
}
.Footer__list {
  width: 20%;
}
.Footer__list__item {
  font-size: 0.9rem;

  list-style-type: none;
  cursor: default;
  line-height: 2;
}
#tomato {
  color: #f50;
}
#li {
  line-height: 1.2;
  margin-top: 7px;
}
.Footer__list__div {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: left;
}
.Footer__list__div__img {
  width: 10%;
  height: 10%;
  margin-right: 3%;
  font-size: 2rem;
}
.Footer__inp {
  width: 20%;
  position: relative;
}
.Footer__inp__p {
  font-size: 0.9rem;
}
.Footer__inp__inp {
  border-top: 1px solid #040507;
  border-right: 1px solid #040507;
  border-left: 1px solid #040507;
  border-bottom: 1px solid #bfbfbf;
  background-color: #040507;
  color: var(--my-color, rgb(146, 137, 137));
  width: 100%;
  font-size: 1.4rem;
  outline: none;
  margin-top: 20px;

  text-align: left;

  padding-bottom: 20px;
}
.Footer__inp__svg {
  position: absolute;
  right: -15%;
  top: 8%;
  width: 2rem;
  height: 2rem;
  font-size: 3.5rem;
}

@media all and (max-width: 940px) {
  .Footer__list__item {
    font-size: 0.6rem;
  }
  .Footer__inp__p {
    font-size: 0.6rem;
  }
  .Footer__inp__inp {
    font-size: 1rem;
  }
}
@media all and (max-width: 700px) {
  .Footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .Footer__inp {
    margin-top: 40px;
    font-size: 1rem;
    width: 60%;
  }
  .Footer__list {
    font-size: 1rem;
    margin-top: 40px;
    width: 80%;
  }
  .FooterTime {
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
  }
  .Footer__list__item {
    width: 100%;
  }
}
